*
  box-sizing: border-box
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  &::-webkit-scrollbar
    width: 6px
    height: 6px
  &::-webkit-scrollbar-track
    background: transparent
  &::-webkit-scrollbar-thumb
    background-color: var(--color-primary-main)

input, textarea
  outline: none

body
  font-size: 16px
