@font-face {
  font-family: 'Rubik Bold';
  src: url('../assets/fonts/rubik-bold.eot');
  src: url('../assets/fonts/rubik-bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/rubik-bold.woff') format('woff'),
    url('../assets/fonts/rubik-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Medium';
  src: url('../assets/fonts/rubik-medium.eot');
  src: url('../assets/fonts/rubik-medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/rubik-medium.woff') format('woff'),
    url('../assets/fonts/rubik-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Regular';
  src: url('../assets/fonts/rubik-regular.eot');
  src: url('../assets/fonts/rubik-regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/rubik-regular.woff') format('woff'),
    url('../assets/fonts/rubik-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik Light';
  src: url('../assets/fonts/rubik-light.eot');
  src: url('../assets/fonts/rubik-light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/rubik-light.woff') format('woff'),
    url('../assets/fonts/rubik-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}