.sdi(class="mb-[100px] min-h-[60vh]")
  .sdi-outter(class="relative max-w-[1750px] overflow-hidden")
    +image('delivery-info-bg-pic.svg', 'absolute top-0 right-0 max-w-full z-[1] md:top-[10%] md:right-[50%] md:translate-x-1/2 md:max-w-[80vw]', 'background')
    .sdi-inner.container(class="relative z-[2] xl:mt-10")
      h1.sdi-title(
        class="font-primary-bold text-[54px] text-white"
        class="xl:text-[42px] md:text-3xl"
      ) Информация о доставке
      .sdi-info(class="mt-[50px] max-w-[1030px] lg:mt-10")
        .info
          p Мы готовы предоставить нашим клиентам гибкие условия доставки, подход и консультационную поддержку нашими специалистами. Мы всегда стремимся обеспечить быструю и надежную доставку нашей продукции в любую точку России и СНГ. Чтобы рассчитать стоимость доставки продукции, укажите все данные при заказе и мы подберем оптимальный логистический маршрут.
          h2 Мы предлагаем различные способы доставки:
          ul
            li Самовывоз со склада организации
            li Доставка федеральными и региональными транспортными компаниями
            li Железнодорожным и авиатранспортом