.ms
  .container(class="relative pt-[50px] pb-[220px] text-center text-white xl:pb-[160px] md:pt-12 md:pb-[50px]")
    +image('ms-bg.png', 'absolute top-0 left-0 w-full h-full z-[1] object-contain object-center', 'chemistry')
    .ms-inner(class="relative z-[2]")
      h1.ms-title(class="font-primary-bold text-[180px] uppercase xl:text-[120px] 2md:text-[90px] md:text-[64px] sm:text-4xl") Юнитхим
      .ms-subtitle
        .big(class="pt-4 font-primary-med text-[46px] uppercase xl:text-4xl 2md:text-3xl md:text-2xl sm:text-base") поставщик крупнейших производителей
        .small(class="pt-4 font-primary-light text-[32px] xl:text-2xl 2md:text-xl md:text-base") реактивов, электрокомпонентов, полимеров и драгметаллов