-
  var menuLinksList = ["Химические реактивы", "Электрокомпоненты", "Полимерная продукция", "Драгметалл"]

.menu-overlay(class="w-full min-h-full")
  .menu(class="absolute top-0 left-0 max-w-[790px] w-full h-full pt-[260px] px-[100px] pb-[60px] bg-[#4016A1] 3xl:pl-[30px] xl:max-w-[600px] xl:pt-[180px] md:max-w-full md:pt-[160px] md:pl-[25px] md:pr-[25px]")
    nav.menu-nav(class="flex flex-col items-start gap-8 font-primary-bold font-bold text-[42px] text-white xl:text-[30px] md:text-[28px] sm:text-xl")
      each item in menuLinksList
        a(href="#" class="hover:bg-primary-main")= item
    .menu-f(class="mt-10 border-t border-solid border-white pt-10  md:mx-auto md:max-w-[210px]")
      nav.menu-f-nav(class="hidden flex-col items-center gap-[28px] font-primary-reg text-center text-[19px] text-white md:flex md:text-base")
        a(href="#") О нас
        a(href="#") Доставка
        a(href="#") Контакты
      .menu-f-total(class="flex flex-col items-start gap-6 font-primary-reg text-2xl text-white xl:text-base md:mt-20 md:gap-3 md:items-center md:text-xs")
        .menu-f-item ООО “ЮНИТХИМ”
        .menu-f-item СЕО Иван Иванов
        .menu-f-item ИНН: 123456789