-
  var catsList = [
    {
      icon: 'icon-reagents.svg',
      title: 'Химические реактивы'
    },
    {
      icon: 'icon-electrical-components.svg',
      title: 'Электронные компоненты'
    },
    {
      icon: 'icon-polymer-products.svg',
      title: 'Полимерная продукция'
    },
    {
      icon: 'icon-precious-metal.svg',
      title: 'Драгметаллы'
    },
  ]

.sc(class="pt-[250px] pb-[150px] lg:py-[100px]")
  .sc-inner.container
    h2.sc-title(
      class="font-primary-bold text-[80px] text-white"
      class="lg:text-[60px] md:text-4xl"
    ) Категории
    .sc-grid(class="mt-20 lg:mt-14")
      each item in catsList
        +category-card(item.icon, item.title)
