extends ../layouts/main.pug

block variables
  - var pageTitle = 'Каталог'

block page
  .page.sct-page(class="min-h-screen bg-gradient-primary overflow-hidden pb-[250px]")
    include ../components/_header.pug
    include ../components/_section-catalog.pug
    include ../components/_section-feedback.pug
