extends ../layouts/main.pug

block variables
  - var pageTitle = 'Контакты'

block page
  .page(class="min-h-screen bg-gradient-primary")
    include ../components/_header.pug
    include ../components/_contacts-info.pug
    include ../components/_footer.pug