extends ../layouts/main.pug

block variables
  - var pageTitle = 'Обратная связь'

block page
  .page(class="min-h-screen bg-gradient-primary pb-[250px]")
    include ../components/_header.pug
    include ../components/_section-feedback.pug
