extends ../layouts/main.pug

block variables
  - var pageTitle = 'Главная'

block page
  .box(class="bg-gradient-primary h-[2000px]")
    include ../components/_header.pug
    include ../components/_main-screen.pug
    include ../components/_main-tabs.pug